/mnt/sdb/2024/pix_2_seq_with_captions_march/output_path/*
/mnt/sdb/2024/pix_2_seq_with_captions_march/output_path
/mnt/sdb/2024/pix_2_seq_with_captions_march/output_path/
output_path/
output_path/*
output_path

